<div id="project-assets">
  <h2><%= @type %> <%= l(:assets_project_heading) %> <%= @project.name %></h2>
  <div style="" >
    
    <%= render :partial => 'assets/links', :locals => {:attachments => @assets, :options => @options, :category_relation => @mapping['category'].nil? ? nil : @mapping['category']['relation']} %>
    
  </div>
</div>