<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'todos', :plugin => 'redmine_priorities_plugin' %>
    <%= stylesheet_link_tag 'todos_print', :plugin => 'redmine_priorities_plugin', :media => 'print' %>
<% end %>


<div id="project-assets">
  <h2><%= l(:assets_project_heading) %> <%= @project.name %></h2>
  <div style="" >
    TEST
  </div>

</div>


