<div id="project-assets">
  <h2><%= l(:assets_project_heading) %> <%= @project.name %></h2>
  <% if !@types.blank? %>
  <ul class="assets-list">
    <% for type in @types %>
      <li><%= link_to type, assets_by_type_path(:type => type, :project_id => params[:project_id]) %></li>
    <% end %>
  </ul>
  <% else %>
    <em>No assets have been added</em>
  <% end %>
</div>


