<div id="project-assets">
  <h2><%= l(:assets_project_heading) %> <%= @project.name %></h2>
  <% if !@types.blank? %>
  <ul class="assets-list">
    <% for type in @types %>
      <li><%= link_to l(@mappings[type]['i18n'].nil? ? 'label_'+type.underscore : @mappings[type]['i18n']) + ' ' + l(:label_asset_plural), assets_by_type_path(:type => type, :project_id => params[:project_id]) %></li>
    <% end %>
  </ul>
  <% else %>
    <em><%= l(:no_assets_added) %></em>
  <% end %>
</div>